body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/015/643/193/small/abstract-modern-white-and-grey-gradient-geometric-pattern-background-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
